<!DOCTYPE html>
<html lang="es">

<head>
    <%include ../header%>
</head>

<body>
    <%include ../nav%>
    <div class="pusher" style="background-color: #DADADA">
        <div class="ui container">
            <div class="ui text container">
                <div class="ui large secondary pointing menu" style="background-color: #fff">
                    <a class="toc item">
                        <i class="sidebar icon"></i> MENU
                    </a>
                    <%include ../navegador%>
                </div>
            </div>
            <div class="ui text container">
                <div class="ui container" style="padding-top:15px;">
                    <h1 class="ui center aligned header">Buscar Alumnos</h1>
                </div>
                <div class="ui text container">
                <div class="ui segments">
                <%if(message.length>0) {%>
                    <div class="ui info message">
                        <i class="close icon"></i>
                        <div class="header">
                            <%=message%>
                        </div>
                    </div>
                <%} else if(er.length>0){%>
                    <div class="ui negative message">
                        <i class="close icon"></i>
                        <div class="header"><%=er%></div>
                    </div>
                <%}%>
                <form id="listaAlumnoForm" class="ui form blue" method="post" action="/listaAlumno">
                    <div class="two fields">
                        <div class="field">
                            <label class="ui blue label">Semestre *</label>
                            <div class="ui selection dropdown">
                                <input id="selectAlumnoSemestre" type="hidden" name="selectAlumnoSemestre">
                                <i class="dropdown icon"></i>
                                <div class="default text">SEMESTRE</div>
                                <div class="menu">
                                    <%for (var i = 0; i<data.SEMESTRES.length; i++) {%>
                                        <div class="item" data-value="<%=data.SEMESTRES[i].ID%>">
                                            <%=data.SEMESTRES[i].NOMBRE%>
                                        </div>
                                    <%}%>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label class="ui blue label">Turno *</label>
                            <div class="ui selection dropdown">
                                <input id="selectAlumnoTurno" type="hidden" name="selectAlumnoTurno">
                                <i class="dropdown icon"></i>
                                <div class="default text">TURNO</div>
                                <div class="menu">
                                <%for (var i = 0; i<data.TURNOS.length; i++) {%>
                                    <div class="item" data-value="<%=data.TURNOS[i].ID%>">
                                        <%=data.TURNOS[i].NOMBRE%>
                                    </div>
                                <%}%>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="inline field">
                        <div class="ui fluid large blue submit button">Mostrar Grupo</div>
                    </div>
                        <div class="ui message error"></div>
                    </form>
                    </div>
                    <div class="ui text container">
                        <div class="ui segment">
                            <table class="ui celled center aligned table">
                                <thead>
                                    <tr>
                                        <th>Matricula</th>
                                        <th>Nombre</th>
                                        <th>Apellido Paterno</th>
                                        <th>Apellido Materno</th>
                                        <th>ACCIONES</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <%include ../footer%>
    </footer>
</body>


</html>
