<!DOCTYPE html>
<html lang="es">

<head>
    <%include ../header%>
</head>

<body>

    <%include ../nav%>
    <div class="pusher" style="background-color: #DADADA">
        <div class="ui container">
            <div class="ui text container">
                <div class="ui large secondary pointing menu" style="background-color: #fff">
                    <a class="toc item">
                        <i class="sidebar icon"></i> MENU
                    </a>
                    <%include ../navegador%>
                </div>
            </div>
            <div class="ui container">
                <h1 class="ui center aligned header" style="padding-top: 15px;padding-bottom: 15px;">Calificaciones</h1>
            </div>
            <div class="ui text container">
                <div class="ui segments">
                    <%if(message.length>0){%>
                    <div class="ui info message">
                        <i class="close icon"></i>
                        <div class="header">
                            <%=message%>
                        </div>
                    </div>
                    <%} else if(er.length>0){%>
                    <div class="ui negative message">
                        <i class="close icon"></i>
                        <div class="header">
                            <%=er%>
                        </div>
                    </div>
                    <%}%>
                    <form id="verAsigForm" class="ui form">
                        <div class="ui segment">
                            <div class="three fields">
                                <div class="field">
                                    <label class="ui blue label">Maestro</label>
                                    <div class="ui yellow message"><%=data[0].MAESTRO%></div>
                                </div>
                                <div class="field">
                                    <label class="ui blue label">Materia</label>
                                    <div class="ui yellow message"><%=data[0].MATERIA%></div>
                                </div>
                                <div class="field">
                                    <label class="ui blue label">Ciclo</label>
                                    <div class="ui yellow message"><%=data[0].CICLO%></div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            
        </div>
        <div class="ui container" style="padding-top:15px;padding-bottom:15px;">
                <table class="ui celled center aligned table">
                    <thead>
                        <th>Matricula</th>
                        <th>Alumno</th>
                        <th>Primer Parcial</th>
                        <th>Segundo Parcial</th>
                        <th>Tercer Parcial</th>
                        <th>Total</th>
                        <th>Paso</th>
                        <th>Siglas</th>
                        <th>Significado</th>
                    </thead>
                    <tbody>
                        <%for (var i = 0; i < data.length; i++) {%>
                            <tr>
                                <td><%=data[i].MATRICULA%></td>
                                <td><%=data[i].ALUMNO%></td>
                                <td><%=data[i].PSEMESTRE%></td>
                                <td><%=data[i].SSEMESTRE%></td>
                                <td><%=data[i].TSEMESTR%></td>
                                <td><%=data[i].TOTAL%></td>
                                <td><%=data[i].PASO%></td>
                                <td><%=data[i].SIGLAS%></td>
                                <td><%=data[i].SIGNIFICADO%></td>
                            </tr>
                        <%}%>
                    </tbody>
                </table>
            </div>
    </div>
    <footer>
        <%include ../footer%>
    </footer>
    </body>


</html>
