<!DOCTYPE html>
<html lang="es">

<head>
    <%include ../header%>
</head>

<body>
    <%include ../nav%>
    <div class="pusher" style="background-color: #DADADA">

        <div class="ui text container">
            <div class="ui large secondary pointing menu" style="background-color: #fff">
                <a class="toc item">
                    <i class="sidebar icon"></i> MENU
                </a>
                <%include ../navegador%>
            </div>
        </div>
        <div class="ui container" style="padding-top:15px;">
            <h1 class="ui center aligned header">Registrar Usuario</h1>
        </div>
        <div class="ui text container">
            <div class="ui segments">
                <%if(message.length>0){%>
                <div class="ui info message">
                    <i class="close icon"></i>
                    <div class="header">
                        <%=message%>
                    </div>
                </div>
                <%} else if(er.length>0){%>
                <div class="ui negative message">
                    <i class="close icon"></i>
                    <div class="header">
                        <%=er%>
                    </div>
                </div>
                <%}%>
                <form id="registerForm" class="ui form blue" method="post" action="/registrar">
                    <div class="ui segment">
                        <!--ROW ONE-->
                        <div class="two fields">
                            <div class="field center">
                                <label class="ui blue label">Nombre *</label>
                                <input id="inputNombreRegistrar" placeholder="Nombre" name="inputNombreRegistrar" type="text" autocomplete="off">
                            </div>
                            <div class="field">
                                <label class="ui yellow label">Segundo Nombre</label>
                                <input id="inputSNombreRegistrar" placeholder="Segundo Nombre" name="inputSNombreRegistrar" type="text" autocomplete="off">
                            </div>
                        </div>
                        <!--ROW TWO--->
                        <div class="two fields">
                            <div class="field center">
                                <label class="ui blue label">Apellido Paterno *</label>
                                <input id="inputAPaternoRegistrar" placeholder="Apellido Paterno" name="inputAPaternoRegistrar" type="text" autocomplete="off">
                            </div>
                            <div class="field">
                                <label class="ui yellow label">Apellido Materno</label>
                                <input id="inputAMaternoeRegistrar" placeholder="Apellido Materno" name="inputAMaternoeRegistrar" type="text" autocomplete="off">
                            </div>
                        </div>
                        <!--ROW THREE-->
                        <div class="two fields">
                            <div class="field">
                                <label class="ui blue label">Usuario *</label>
                                <input id="inputUserNameRegistrar" name="inputUserNameRegistrar" placeholder="Matricula" autocomplete="off" />
                            </div>
                            <div class="field">
                                <label class="ui blue label">Role *</label>
                                <%if (user.role === 'ADMIN') {%>
                                <div class="ui selection dropdown">
                                    <input id="selectRoleRegistrar" type="hidden" name="selectRoleRegistrar">
                                    <i class="dropdown icon"></i>
                                    <div class="default text">ROLE</div>
                                    <div class="menu">
                                        <div class="item" data-value="ADMIN">ADMIN</div>
                                        <div class="item" data-value="CONTROLESCOLAR">CONTROL ESCOLAR</div>
                                    </div>
                                </div>
                                <%} else {%>
                                <div class="ui selection dropdown">
                                    <input class="changeRole" id="selectRoleRegistrar" type="hidden" name="selectRoleRegistrar">
                                    <i class="dropdown icon"></i>
                                    <div class="default text">ROLE</div>
                                    <div class="menu">
                                        <div class="item" data-value="ALUMNO">ALUMNO</div>
                                        <div class="item" data-value="CONTROLESCOLAR">CONTROL ESCOLAR</div>
                                        <div class="item" data-value="MAESTRO">MAESTRO</div>
                                    </div>
                                </div>
                                <%}%>
                            </div>
                        </div>
                        <!--ROW FOUR-->
                        <%if (user.role === 'ADMIN') {%>
                        <div class="two fields">
                            <div class="field">
                                <label class="ui blue label">Contraseña *</label>
                                <input id="inputPasswordRegistrar" name="inputPasswordRegistrar" placeholder="Contraseña" type="password" />
                            </div>
                            <div class="field">
                                <label class="ui blue label">Confirmar Contraseña *</label>
                                <input id="inputCPasswordRegistrar" name="inputCPasswordRegistrar" placeholder="Confirma Contraseña" type="password" autocomplete="off" />
                            </div>
                        </div>
                        <%} else {%>
                        <input id="passwrd" name="passwrd" type="text" hidden required value="<%=GPSSWRD%>" />
                        <div class="two fields">
                            <div class="field">
                                <label class="ui blue label">Contraseña *</label>
                                <input id="inputPasswordRegistrar" disabled name="inputPasswordRegistrar" placeholder="Contraseña" type="text" value="<%=GPSSWRD%>" />
                            </div>
                            <div class="field">
                                <label class="ui blue label">confirma Contraseña *</label>
                                <input id="inputCPasswordRegistrar" name="inputCPasswordRegistrar" placeholder="Confirma Contraseña" type="text" autocomplete="off" value="<%=GPSSWRD%>" />
                            </div>
                        </div>
                        <%}%>
                        <!--ROW FIVE-->
                        <%if (user.role === 'ADMIN') {%>
                        <div class="two fields">
                            <div class="field">
                                <label class="ui blue label">Carrera *</label>
                                <div class="ui selection dropdown">
                                    <input id="selectCarreraRegistrar" type="hidden" name="selectCarreraRegistrar">
                                    <i class="dropdown icon"></i>
                                    <div class="default text">Carrera</div>
                                    <div class="menu">
                                        <%for (var i = 0; i<CARRERAS.length; i++) {%>
                                        <div class="item" data-value="<%=CARRERAS[i].ID%>">
                                            <%=CARRERAS[i].NOMBRE%>
                                        </div>
                                        <%}%>
                                    </div>
                                </div>
                            </div>
                            <div class="field">

                            </div>
                        </div>
                        <%} else {%>
                        <div id="fieldBorrar" class="three fields">
                            <div id="fieldSemestre" class="field">
                                <label id="semestreLabel" class="ui blue label">Semestre *</label>
                                <div class="ui selection dropdown">
                                    <input id="selectSemestreRegistrar" type="hidden" name="selectSemestreRegistrar">
                                    <i class="dropdown icon"></i>
                                    <div class="default text">Semestre</div>
                                    <div class="menu">
                                        <%for (var i = 0; i<SEMESTRES.length; i++) {%>
                                        <div class="item" data-value="<%=SEMESTRES[i].ID%>">
                                            <%=SEMESTRES[i].NOMBRE%> MESES (
                                            <%=SEMESTRES[i].MESES%>)</div>
                                        <%}%>
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <label class="ui blue label">Carrera *</label>
                                <input id="selectCarreraRegistrar" type="text" name="selectCarreraRegistrar" value="<%=user.carrera%>" disabled>
                            </div>
                            <div id="fieldTurno" class="field">
                                <label id="turnoLabel" name="turnoLabel" class="ui blue label">Turno *</label>
                                <div disabled class="ui selection dropdown">
                                    <input id="selectTurnoRegistrar" type="hidden" name="selectTurnoRegistrar">
                                    <i class="dropdown icon"></i>
                                    <div class="default text">Turno</div>
                                    <div class="menu">
                                        <%for (var i = 0; i<TURNOS.length; i++) {%>
                                        <div class="item" data-value="<%=TURNOS[i].ID%>">
                                            <%=TURNOS[i].NOMBRE%>
                                        </div>
                                        <%}%>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <%}%>
                    </div>
                    <div id="Updatetsubmit" class="inline field">
                        <div class="ui fluid large blue submit button">Registrar</div>
                    </div>
                    <div class="ui message error"></div>
                </form>
            </div>
        </div>
    </div>
    <footer>
        <%include ../footer%>
    </footer>
    </body>

</html>
